.agent_image {
  position: relative;
  width: 100%;
  vertical-align: middle;
  z-index: 0;
}

.agent_background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fill;
  transform: scale(1.25);
  height: 100%;

  right: 0;
  text-align: center;
  transform: scale(1.25) translate(25%, 0);
  filter: opacity(0.3);
}

.top_content {
  background-color: rgb(21 37 52);
}

.agent_top_content {
  color: var(--color-4);
  display: flex;
  overflow: hidden;
}

.left_content {
  width: 50%;
  padding-left: 4rem;
}

.right_content {
  position: relative;
  width: 50%;
  height: fit-content;
}

.agent_name {
  font-family: "Tungsten-bold";
  font-size: 4em;
  font-style: italic;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.agent_desc {
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.role_container {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.role_title {
  text-align: center;
  font-size: 0.8em;
  margin: 0.5rem 0;
}

.role_content {
  display: flex;
}

.role_left_container {
  align-self: center;
}

.role_left_content {
  border-radius: 0.75em;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--color-2);
  color: white;
  box-shadow: 0 0 20px var(--color-1);
}

.role_image {
  width: 3em;
  padding: 0.5em;
  align-self: center;
}

.role_name {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
  color: rgb(252, 214, 48);
}

.role_description {
  margin-left: 1em;
  align-self: center;
  color: rgba(255, 255, 255, 0.8);
}

.abilities_container {
  padding: 1rem 3rem;
}

.abilities_title {
  font-family: "Tungsten-bold";
  font-size: 4em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.abilities_content {
  display: grid;
  gap: 2em;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  justify-content: space-around;
}

@media (width < 600px) {
  .agent_top_content {
    width: 100%;
    flex-direction: column-reverse;
  }

  .right_content {
    width: 100%;
  }

  .left_content {
    width: auto;
    padding: 0 1em;
  }

  .agent_name {
    font-size: 3em;
    margin-top: 0;
  }

  .abilities_title {
    font-size: 3em;
  }

  .abilities_container {
    padding: 1em 1em;
  }

  .abilities_content {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }

  .role_left_content {
    padding: 0.5em 1em;
  }

  .role_title {
    font-size: 0.6em;
    margin: 0.5em 0;
  }
  .role_name {
    font-size: 0.8em;
  }

  .role_image {
    width: 2em;
  }

  .role_description {
    font-size: 0.8em;
  }
}

@media (600px <= width < 1024px) {
  .right_content {
    margin: auto;
  }

  .left_content {
    padding: 0;
    padding-left: 1.5em;
  }

  .agent_name {
    font-size: 3em;
    margin-top: 1em;
  }

  .agent_desc {
    font-size: 0.9em;
  }

  .abilities_title {
    font-size: 3em;
  }

  .abilities_container {
    padding: 1em 1em;
  }

  .abilities_content {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }

  .role_description {
    font-size: 0.7em;
  }

  .role_left_content {
    padding: 0.5em 1em;
  }

  .role_title {
    font-size: 0.6em;
    margin: 0.5em 0;
  }
  .role_name {
    font-size: 0.8em;
  }

  .role_image {
    width: 2em;
  }
}
