.maps_page_content {
  padding: 0 2em;
  padding-bottom: 5em;
}

.maps_container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.maps_title {
  font-size: 3em;
  font-family: fantasy;
  padding-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

.map_card {
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid black;
  cursor: pointer;
}

.map_card:hover {
  box-shadow: 0 0 10px var(--color-1);
}

.map_card:hover .map_image {
  transition: transform 0.2s;
  transform: scale(1.15);
}

.map_card:hover .map_name {
  background-color: var(--color-1);
}

.map_name {
  color: white;
  position: relative;
  font-family: fantasy;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  z-index: 0;
  background-color: var(--background-color-1);
}

.map_image {
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
  transition: transform 0.2s;
  transform: scale(1);
}
